@media (max-width: 1024px) {
	.box:nth-child(3) {
		margin-right: 30px;
	}
	.box:nth-child(4) {
		margin-bottom: 30px;
	}
	/*.sec2 {
		margin:0 auto;
	}*/
	.wrapper {
		margin:0 auto;
		padding-left: 76px;
	}

}


@media (max-width: 480px) {

.box:nth-child(5) {
		margin-bottom: 30px;

	}
	.box:nth-child(6) {
		margin-right: 30px;