/*header*/

.header {
	text-align: center;
	font-size: 35px;
	margin-bottom: 40px;
}
section p {
	text-align: center;
	font-size: 21px;
}
.container {
	max-width: 1280px;
	width: 100%;
	/*margin-left:300px;
	margin-right: 55px;*/
	padding-left: 60px;
	padding-right: 60px;
	margin: 0 auto;
	background-color: #FAFAFA;
}
.sec2 {
	max-width: 771px;
	width: 100%;
	margin-left: 200px;
	margin-bottom: 60px;
	padding-bottom: 30px;
}
.wrapper {
	max-width: 1171px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	/*border:solid;
	border-width: 3px;*/
	
}
.box {
	max-width: 352px;
	width: 100%;
	border: solid;
	border-color: #707070;
	border-width: 0.5px;
	padding: 64px 52px 40px 52px;
	margin-right: 30px;
	margin-bottom: 30px;
}
.blue-bg  {
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 88px;
	height: 88px;
	background-color: #325DFF;
	margin:0 80px 30px 80px; 
}
.blue-bg img {
	width: 32px;
	height: 32px;
}

.inbox h6 { 
	text-align: center;
	margin-bottom: 35px;
	margin-top:35px;
}
.inbox p {
	font-size: 21px;
}
.box:nth-child(3) {
	margin-right: 0;
}
.box:nth-child(6) {
	margin-right: 0;
	margin-bottom: 0;
}
.box:nth-child(4) {
	margin-bottom: 0;
}
.box:nth-child(5) {
	margin-bottom: 0;
}